@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto+Condensed');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .brand-logo {
    font-family: "Passion One", cursive;
}

header, main {
    flex: 1 0 auto;
}